/bscscan-telegram.iml
/.idea/
/venv/
/proxy/configuration.py
/client/src/configuration.py
/server/src/configuration.ts
/config/bot-dev.json
/config/bot-docker-dev.json
/server/logs/*.log
/client/logs/*.log
/client/src/db.json
/client/db.json
/server/src/process/api/lookintobitcoin/btc2YearMovingAverageGraph.png
/server/src/process/api/blockchaincenter/bitcoinRainbowChart.png
