/bscscan-telegram.iml
/.idea/
/venv/
/proxy/configuration.py
/client/src/configuration.py
/config/bot-dev.json
/config/bot-docker-dev.json
/client/logs/*.log
/client/src/db.json
/client/db.json
/crypto-data/src/process/api/lookintobitcoin/btc2YearMovingAverageGraph.png
/crypto-data/src/process/api/blockchaincenter/bitcoinRainbowChart.png
/crypto-data-api/crypto-data-*.tgz
